# firmware build artifacts
build/
output/
*.o
*.elf
*.hex
*.map

# kicad backups
*.bak
*.bck
*-backup/

# os junk
Thumbs.db
.DS_Store

# kicad local history
.history/

# Generated / build artifacts
src/src/ui/dist/
src/src/ui/.yarn/install-state.gz
src/src/ui/android/.kotlin/
**/__pycache__/
*.pyc
